<!DOCTYPE html>
<html>
<head>
<title>NOMAD Planning</title>
</head>

<body>
<h3>Tables of all NOMAD and ACS solar occultations and nadirs</h3>
<p><a href="occultations">Solar Occultation Table</a></p>
<p><a href="nadirs">Nadir Observation Table</a></p>
<p>The tables are now very large. To constrain by observation start date, you can specify start and end dates or MTP numbers in the address bar, separated by an ampersand (&#38;), as follows:</p>
<p>utc_start=YYYY-MM-DD</p>
<p>utc_end=YYYY-MM-DD</p>
<p>mtp_start=integer (inclusive)</p>
<p>mtp_end=integer (inclusive)</p>
<br>
<p>For example:</p>
<p>To display all occultations in January 2020: <a href="occultations?utc_start=2020-01-01&utc_end=2020-02-01">irthomas.eu/fl/nomad_planning/occultations?utc_start=2020-01-01&#38;utc_end=2020-02-01</a></p>
<p>To display all nadirs in MTPs 9 and 10: <a href="nadirs?mtp_start=9&mtp_end=10">irthomas.eu/fl/nomad_planning/occultations?mtp_start=9&#38;mtp_end=10</a></p>
</body>

</html>